* {
  font-family: 'Proxima Nova';
}

body {
  background-color: #f5f5f5 !important;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.divider {
  background-color: black;
  height: 3px;
  margin-bottom: 25px;
}

header {

  .brand-logo {
    font-weight: bolder;
  }

  ul {
    li {
      font-weight: bold;
    }
  }

}

.parallax-container {
  text-align: center;
  height: 350px;
  h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
  }
}

.btn {
  background: none;
  box-shadow: none;
  border: 2px solid black;
  border-radius: 100px;
  height: 50px;
  color: black;
  font-weight: bold;
  line-height: 50px;
  text-transform: inherit;
  font-size: 18px;
  padding: 0px 20px;

  i.material-icons {
    vertical-align: -4px;
  }

  &:hover {
    background: none;
    background-color: black;
    color: white;
  }

}

.card-image {
  border: 3px solid black;

  .card-title {
    z-index: 999;
    font-weight: bolder;
    margin-bottom: 25px;
    font-size: 30px;
    text-shadow: 0 0 40px black;
  }

  .chip {
    z-index: 999 !important;
    color: #3d5afe;
    background: none;
    border: 2px solid #3d5afe;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(black, 0.3);
  }

  img {
    height: 300px;
    object-fit: cover;
    position: relative;
  }

  .btn-floating {
    z-index: 999;
    border-radius: 0;
  }
}

footer {
  color: black !important;

  a {
    color: black;
  }

  .menuFooter {

    ul {
      text-align: center;

      li {
        display: inline-block;
        margin: 0px 15px;
      }

    }

  }

}

